.custom-calendar {
    font-size: 11px;
    padding: 5px;
}

.custom-calendar .rbc-month-view .rbc-header {
    font-size: 11px;
}

.custom-calendar .rbc-month-view .rbc-event {
    font-size: 9px;
}

.custom-calendar .rbc-time-view .rbc-header {
    font-size: 11px;
}

.custom-calendar .rbc-time-view .rbc-time-slot {
    font-size: 10px;
}

.input-select-calendar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.input-date-calendar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    width: 200px;
}

/*.input-select-calendar:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}*/

.input-shadow:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*.layout-splitter {
    width: 25px;
}

.custom-splitter .layout-splitter {
    width: 25px;
    cursor: ew-resize;
}

.custom-splitter {
    width: 25px;
    cursor: ew-resize;
}

.custom-splitter::before {
    width: 25px;
    cursor: ew-resize;
}

.splitter-layout {
    width: 25px;
}

.layout-splitter {
    width: 25px;
}

.splitter-layout>.layout-splitter {
    width: 25px;
}

.splitter-layout.splitter-layout-vertical>.layout-splitter {
    width: 25px;
}

div.layout-splitter {
    width: 25px;
}

.my-splitter-layout .layout-pane {
    background-color: white;
    border: 2px solid white;
}

.my-inner-splitter-layout .layout-pane {
    background-color: white;
    border: 2px solid white;
}*/

.label-input-modal {
    font-size: 12px;
    font-weight: bold;
}

.modal-header-bg {
    background-color: #F0F0F0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.css-79z5gx {
    -webkit-padding-start: 1px;
    padding-inline-start: 1px;
    -webkit-padding-end: 1px;
    padding-inline-end: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.modal-body-create {
    padding: 1.5rem;
    -webkit-padding-start: 1px;
    padding-inline-start: 1px;
    -webkit-padding-end: 1px;
    padding-inline-end: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select-options-form {
    padding: 0px 5px;
    font-size: 12px;
    border: 1px solid white;
}

.select-options-form:hover {
    border: 1px solid #c1c1c1;
    background-color: #F0F0F0;
    border-radius: 4px;
}

.select-options-form:hover * {
    background-color: #F0F0F0;
}

.without-focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.without-focus:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

.input-text-form-02 {
    border: none;
    outline: none;
    padding: 8px;
    margin-left: 6px;
    width: 100%;
    font-size: 12px;
    border-radius: 4px;
    background-color: transparent;
}

.input-text-form-02:focus {
    background-color: white;
}
.input-text-form-02:focus-visible {
    background-color: white;
}
.input-text-form {
    border: none;
    border-bottom: 0.9px solid gray;
    outline: none;
    padding: 8px;
    width: 100%;
    font-size: 12px;
}

.input-text-form:focus {
    border-bottom-color: darkgray;
}
.input-text-form:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 0.9px solid gray;
}

.input-multi-text-form {
    border: none;
    outline: none;
    width: 100%;
    font-size: 12px;
}

.div-container-inputs-form {
    display: flex;
    flex-direction: row;
    align-items: center
}

.div-items-events {
    width: 6px;
    background: #8bb7f3;
    height: 50px;
    border-style: dotted;
    background-color: #8bb7f3;
    border: 1px solid blue;
    border-style: dashed;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 5px;
}

p {
    padding-bottom: 0px;
}



.splitter-layout {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.splitter-layout .layout-pane {
    position: relative;
    flex: 0 0 auto;
    overflow: auto;
}

.splitter-layout .layout-pane.layout-pane-primary {
    flex: 1 1 auto;
}

.splitter-layout>.layout-splitter {
    flex: 0 0 auto;
    width: 1px;
    height: 100%;
    cursor: col-resize;
    background-color: #ccc;
}

.splitter-layout .layout-splitter:hover {
    background-color: #bbb;
}

.splitter-layout.layout-changing {
    cursor: col-resize;
}

.splitter-layout.layout-changing>.layout-splitter {
    background-color: #aaa;
}

.splitter-layout.splitter-layout-vertical {
    flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
    cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical>.layout-splitter {
    width: 100%;
    height: 1px;
    cursor: row-resize;
}

.rmsc .dropdown-heading {
    padding-left: 8px;
    padding-right: 8px;
}

.dropdown-heading {
    padding-inline: 8px;
}